<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Air Prediction Index</title>
    <style>
      h1 {
        color: white;
      }
    </style>
  </head>
<body style="background-color:rgb(32, 41, 44);">

<style>
  .mask-custom {
    backdrop-filter: contrast(140%) brightness(100%) saturate(100%) sepia(50%)
      hue-rotate(0deg) grayscale(0%) invert(0%) blur(0px);
    mix-blend-mode: lighten;
    background: rgba(161, 44, 199, 0.31);
    opacity: 1;
  }
</style>
<div
class="bg-image"
style="
  background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/018.jpg');
  height: 100vh;
"
>
  <div class="mask mask-custom"></div>
  <br>
<center><h1>Air Quality Prediction</h1></center>
<br>
<h5 style="color: white;">Air Quality Index (AQI) & Health</h5>
<p style="color: white;">Millions of people live in areas where air pollution can cause serious health problems. Local air quality can affect our daily lives. Like the weather, it can change from day to day. EPA developed the Air Quality Index, or AQI, to make information available about the health effects of the five most common air pollutants, and how to avoid those effects.</p>
<h5 style="color: white;">Ground-level Ozone Pollution</h5>
<p style="color: white;">The ozone molecule (O3) is harmful to air quality outside of the ozone layer. EPA regulations help states reduce ozone levels in outdoor air. Ozone can be “good” or “bad” for health and the environment depending on where it’s found in the atmosphere. Stratospheric ozone is “good” because it protects living things from ultraviolet radiation from the sun. Ground-level ozone, the topic of this website, is “bad” because it can trigger a variety of health problems, particularly for children, the elderly, and people of all ages who have lung diseases such as asthma. <a href="https://www.epa.gov/ground-level-ozone-pollution/ground-level-ozone-basics#effects">Learn more about ground-level ozone.</a></p>
<h5 style="color: white;">Using the Air Quality Index</h5>
<h6 style="color: white;">The U.S. Air Quality Index – daily index</h6>
<b style="color: white;"> What it is:</b><p style="color: white;"> The U.S. Air Quality Index, or AQI, is EPA’s tool for communicating daily air quality. It uses color-coded categories and provides statements for each category that tell you about air quality in your area, which groups of people may be affected, and steps you can take to reduce your exposure to air pollution. It’s also used as the basis for air quality forecasts and current air quality reporting.</p>
<b style="color: white;">Who issues it:</b><p style="color: white;"> EPA has issued a national index for air quality since 1976 to provide an easy-to-understand daily report on air quality in a format that’s the same from state to state. The AQI as we know it today was issued in 1999; it’s been updated several times since to reflect the latest health-based air quality standards.</p>
 <b style="color: white;"> What pollutants it covers:</b><p style="color: white;"> There’s a U.S. AQI for five major pollutants that are regulated by the Clean Air Act: ozone, particle pollution (also called particulate matter), carbon monoxide, nitrogen dioxide and sulfur dioxide. The AQI for each pollutant is generally based on the health-based national ambient air quality standard for that pollutant and the scientific information that supports that standard.</p>
<b style="color: white;">  What time frame it covers:</b><p style="color: white;"> It varies by pollutant. The ozone AQI is an 8-hour index; for particle pollution, it’s 24 hours.</p>
 <b style="color: white;"> Where can you get it:</b><p style="color: white;"> Metro areas with a population of more than 350,000 are required to report the daily AQI. Many more areas report it as a public service. You can find the daily AQI on AirNow and on state and local agency websites. Some agencies also report the AQI via their local news media, or by telephone hotlines.</p>
  <b style="color: white;">How to use it:</b><p style="color:white;"> Check the previous day’s AQI to learn more about air quality in your community.
 <a href="https://www.airnow.gov/aqi/aqi-basics/">More about the AQI</a></p>
<h4 style="color: white;">More about Index Air Quality and How To Calculate AQI value <a href="https://www.business-standard.com/about/what-is-air-quality-index">CLICKME</a> </h4>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

  </body>
</html>